footer {
  text-align: center;
  background-color: #1e1e1e;
  color: #919191;
}

.mainbox {
  border: 2px double #414141;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  padding: 30px;
  margin: 30px;
}
